* {
  margin: 0px;
  padding: 0px;
}

.image {
  margin: 20px;
  width: 90%;
  height: 200px;
}

.card {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px;
  
}

.mainDiv {
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  background-color:#e0e0e0;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  margin-top: 60px;
  
}

.progress {
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
}